

/* -----------------GENERAL RULE----------------- */


.img_container{
    width: 500px;
    margin: 0 auto;
    position: relative;
    display: none;
}

img{
    width: 100%;
    height: 400px;
}

.info_img{
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
}

.active{
    display: block;
}